<div class="crafting-list">
    <h2>Crafting List</h2>

    <div class="list-container">
        <div class="materials">
            <h3>Materials Needed</h3>
    
            <!-- Group materials by type -->
            <div *ngFor="let materialType of getGroupedMaterials()">
                <h4>{{ materialType.type }}</h4>
                <ul>
                    <li *ngFor="let material of materialType.materials">
                        {{ material.material.name }}: {{ material.quantity }}
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="sketches">
            <h3>Sketches Added</h3>
            <ul>
                <li *ngFor="let sketch of craftingList; let i = index">
                    {{ sketch.name }}
                    <button (click)="onRemoveSketch(i)">Remove</button>
                </li>
            </ul>
        </div>
    </div>
    </div>