<div class="crafting-list">
    <h2>Crafting List</h2>
    <div *ngIf="loading" class="loading-indicator">
        <div *ngIf="!loading">Loading crafting list...
        </div>
    </div>
    <div class="list-container">
        <div class="materials">
            <h3>Materials Needed</h3>
    
            <!-- Group materials by type -->
            <div *ngFor="let group of getGroupedMaterialsByType()">
                <h4>{{ group.type }}</h4>
                <ul>
                    <li *ngFor="let material of group.materials">
                        {{ material.material.name }}: {{ material.quantity }}
                    </li>
                </ul>
            </div>
            </div>
    
        <div class="sketches">
            <h3>Sketches Added</h3>
            <ul>
                <li *ngFor="let sketch of craftingList">
                    {{ sketch.name }}
                    <button *ngIf="sketch._id" (click)="onRemoveSketch(sketch._id)">Remove</button>
                </li>
            </ul>
        </div>
    </div>
    </div>