
.sketch_cont{
    display: flex;
    flex-flow: row;
    padding-top:20px;
}
.new-sketch-form{
    padding-left: 10px;
    min-width: 40%;
    background-color:#FFE5D9 ;
    border: 3px solid #8ba989; 
    padding-bottom: 20px;
}

.sketch-list {
    cursor: pointer;
}

fieldset {
    border: none;
}
.form-group{
    padding:5px 0px;
}