
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


.container {
    display: flex;
    flex-flow: column
}

.sketch_cont{
    display:flex;
    flex-flow:row;
}

.sketch-list {
    flex: 1;
    padding: 10px;
    cursor: pointer;
}

.sketch-details {
    flex: 2;
    padding: 10px;
}