.sketch_wrap{
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    border: 3px solid #ffe5d9;
    padding:5px;
}

.sketch_name{
    padding: 0px 10px;
}

.sketch_name:hover{
    text-decoration:underline;
    background-color:white;

}

/* .sketch_spc{
    padding-left:10px;
} */