<div class="details">
    <div class="col-1">
        <h3>Sketch Details</h3>
        <p><strong>Name:</strong> {{ sketch.name }}</p>
        <p><strong>Description:</strong> {{ sketch.description }}</p>
        <p><b>Styles: </b>{{ sketch.styles }}</p>
        <p><b>Category: </b>{{ sketch.category }}</p>
        <p><b>Type: </b>{{ sketch.type }}</p>

        <div class="sketch-ipie">
            <ul>
                <li *ngFor="let material of sketch.materials">
                    <strong>{{ material.material }}</strong>: {{ material.quantity }}
                </li>
            </ul>
        </div>

        <!-- Add Sketch to Crafting List Button -->
        <app-sketch-item [sketch]="sketch"></app-sketch-item>

        <button (click)="editSketch()">Edit</button>
        <button (click)="confirmDelete()" class="btn btn-danger">Delete</button>

        <div *ngIf="isDeleting" class="delete-confirmation">
            <p>Are you sure you want to delete this sketch?</p>
            <button (click)="deleteSketch()" class="btn btn-danger">Yes, Delete</button>
            <button (click)="cancelDelete()" class="btn btn-secondary">Cancel</button>
        </div>
    </div>

    <img class="sketch_img" [src]="sketch.image_url" alt="{{ sketch.name }}" />
</div>