.details {
    display: flex;
    flex-flow: row;
    padding-right: 20px;
    background-color: #FFE5D9;
    border: 3px solid #8ba989;
    filter: drop-shadow(7px 9px 2px #767476);
    margin-right:20px;
}

.col-1 {
    display: flex;
    flex-flow: column;
    padding: 0px 15px;
    width:50%
}
.col-2{
    display:flex;
    flex-flow: column;
    padding: 0px 15px;
    width:50%
}
.sketch_img {
    border: 2px solid #ffe5d9;
    margin-top:10%;
    width: 340px;
}

.sketch-ipie ul {
    list-style: none;
    padding-left: 15px;
}

.sketch-ipie ul li {
    padding: 10px 0px;
}

.btn-danger,
.btn-edit{
    font-family: "Delius", cursive;
    width: 55%;
    height: 25px;
    background-color: #FFCAD4;
    color: #506A4D;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 0px;
    border: 2px solid #506A4D;
}