.toolbar{
    display:flex;
    flex-flow: row;
    padding:10px;
    background-color:pink;
}

.tb_item{
    padding: 0px 10px;
}
.tb_item a {
    color:#181d27;
    text-decoration: none;
    font-weight: 500;
}